header
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    height:120px;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: lightblue;
}

#logo
{
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.mymagicoverbox_fenetre
{
    left:-225px;
    width:450px;
}

.banner
{
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
}

.mymagicoverbox
{
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    background-color:#6500a0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mymagicoverbox_fenetre
{
    z-index: 9999;
    position: fixed;
    margin-left: 50%;
    top: 100px;
    text-align: center;
    display: none;
    padding: 5px;
    background-color: #ffffff;
    color: #1f1b1b;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
}

.mymagicoverbox_fenetreinterieur
{
    text-align: center;
    overflow: auto;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    color: tomato;
    font-weight: 400;
    font-size: 17px;
    border-top: 1px solid #F6D55C;
    margin-top: 10px
}

.mymagicoverbox_fermer
{
    color: crimson;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

#myfond_gris
{
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ajaxForm
{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}